@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;500;600;700;800;900&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
}

body {
    font-family: "VT323", sans-serif;
    font-size: 24px;
    background: #1A3A45;
    display: flex;
    flex-direction: column;
}

/* KONTAINER ATAS */
.head-container {
    position: relative;
}

.head-container .icon {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    gap: 15px;
}

.head-container img {
    width: 40px;
    background-color: #fff;
    border-radius: 100%;
    outline: #0D1D23 solid 5px;

}

.head-container img:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.head-container p {
    text-align: center;
    margin: 45px;
    font-size: 2.5em;
}

/* KONTAINER BAWAH */
.bottom-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* KONTAINER GAME */
.game-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.card-l,
.card-r {
    background-color: #B48452;
    width: 250px;
    height: 275px;
    border-radius: 30px;
    outline: #8a633a solid 10px;
    box-shadow: 15px 15px 10px 5px #00000035;

}

.card-header {
    height: 20%;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #fff;
}

.card-header p {
    color: #fff;
    font-size: 35px;
}

.card-content {
    /* background-color: #ff330036; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-l ul li {
    margin: 10px;
    display: flex;
    align-items: center;
}

.card-l ul li img {
    margin-right: 10px;
    width: 35px;
}

.card-r .card-content img {
    height: 75px;
    margin: 20px;
}

.canvas-container {
    border: 4px solid #fff;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
}

canvas {
    /* width: 700px;
    height: 500px; */
    border: 3px solid #fff;
}

.score {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* START GAME & GAME OVER CONTAINER */
#startGameModal,
#gameOverModal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.start-game-modal,
.game-over-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game-content,
.game-over-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-family: Poppins;
    font-size: 0.75em;
    width: 600px;
    height: 400px;
    background-color: #1A3A45;
    outline: #1e424e solid 15px;
    border-radius: 25px;
}

#user-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

#name,
#level {
    font-family: Poppins;
    font-size: 1em;
    width: 400px;
    height: 35px;
    color: #1A3A45;
    border-radius: 5px;
    margin-bottom: 11px;
}

#level {
    width: 100%;
    cursor: pointer;
}


select option {
    font-family: Poppins;
    color: #1A3A45;
    background-color: #DDE2E3;
    border-radius: 5px;
}

#startButton,
.open-game {
    font-family: Poppins;
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#startButton:hover,
#startButton:focus,
.open-game:hover,
.open-game:focus {
    background-color: #3b8b3e;
    cursor: pointer;
}

/* GAME OVER MODAL */
#gameOverModal {
    display: none;
}

.game-over-content {
    position: relative;
}

.game-over-content h1 {
    color: #cd2900;
}

.close {
    position: absolute;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    top: 15px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #727272;
    cursor: pointer;
}

.game-over-content p {
    margin-top: 5px;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.5em;
}

.game-over-content table {
    margin-top: 5px;
    width: 75%;
}

tr th {
    border-bottom: 3px solid #fff;
    padding: 5px;
}

tr td {
    text-align: center;
    padding: 5px;
}


/* START Countdown style */
.countdown {
    font-family: Poppins;
    font-weight: bold;
}

.countdown p {
    position: fixed;
    /* text-align: center; */
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.1s;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    font-size: 23vh;
    transform: translate(-50%, -50%);
}

.landing-page {
    /* display: none; */
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    /* Efek transisi */
    transition: all 0.5s;
}

.landing-page img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.landing-page .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page .content p {
    font-family: Poppins;
    font-size: 3.7em;
    font-weight: bold;
    text-align: center;
    color: #FFB900;
    text-shadow: 0.0px 10.0px 0.02px #333, 9.8px 2.1px 0.02px #333, 4.2px -9.1px 0.02px #333, -8.0px -6.0px 0.02px #333, -7.6px 6.5px 0.02px #333, 4.8px 8.8px 0.02px #333, 9.6px -2.8px 0.02px #333, -0.7px -10.0px 0.02px #333, -9.9px -1.5px 0.02px #333, -3.5px 9.4px 0.02px #333, 8.4px 5.4px 0.02px #333, 7.1px -7.0px 0.02px #333, -5.4px -8.4px 0.02px #333, -9.4px 3.5px 0.02px #333, 1.4px 9.9px 0.02px #333, 10.0px 0.8px 0.02px #333, 2.9px -9.6px 0.02px #333, -8.7px -4.8px 0.02px #333, -6.6px 7.5px 0.02px #333, 5.9px 8.0px 0.02px #333, 9.1px -4.1px 0.02px #333, -2.1px -9.8px 0.02px #333, -10.0px -0.1px 0.02px #333, -2.2px 9.8px 0.02px #333, 9.1px 4.2px 0.02px #333, 6.1px -8.0px 0.02px #333, -6.5px -7.6px 0.02px #333, -8.8px 4.7px 0.02px #333, 2.7px 9.6px 0.02px #333, 10.0px -0.6px 0.02px #333, 1.5px -9.9px 0.02px #333, -9.3px -3.6px 0.02px #333, -5.5px 8.4px 0.02px #333, 7.0px 7.2px 0.02px #333, 8.5px -5.3px 0.02px #333, -3.4px -9.4px 0.02px #333, -9.9px 1.3px 0.02px #333, -0.8px 10.0px 0.02px #333, 9.6px 2.9px 0.02px #333, 4.9px -8.7px 0.02px #333, -7.5px -6.7px 0.02px #333, -8.1px 5.9px 0.02px #333, 4.0px 9.2px 0.02px #333, 9.8px -2.0px 0.02px #333, 0.2px -10.0px 0.02px #333, -9.7px -2.3px 0.02px #333, -4.3px 9.0px 0.02px #333, 7.9px 6.1px 0.02px #333
}

.open-game {
    animation: pulse 1s infinite;
}

/* Denyut */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Style Preloader */
.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11;
    transition: all .8s;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.spinner {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.spinner:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}


/* RESPONSIVE BREAKPOINT */
/* ukuran min desktop */
@media screen and (min-width: 769px) {
    .arrow-keys {
        display: none;
    }
}


/* RESPONSIVE BREAKPOINT */
/* ukuran tablet */
@media screen and (max-width: 768px) {

    .card-l,
    .card-r {
        display: none;
    }

    .arrow-keys {
        display: block;
    }

    /* HOME / Landing Page */
    .landing-page img {
        position: relative;
        object-position: -300px 0px;
    }

    .landing-page .content p {
        font-size: 2.5em;
    }
}

/* RESPONSIVE BREAKPOINT */
/* ukuran mobile */
@media screen and (max-width: 576px) {

    /* HOME / Landing Page */
    .landing-page img {
        position: relative;
        object-position: -480px 0px;
    }

    .landing-page .content p {
        font-size: 2em;
    }

    .open-game {
        font-size: 0.75em;
    }

    /* START GAME MODAL */
    .start-game-content,
    .game-over-content {
        width: 100%;
        height: 380px;
        margin: 20px;
        outline: #1e424e solid 10px;
        font-size: 0.6em;
    }

    #name,
    #level {
        font-size: 1em;
        width: 100%;
    }

    select option {
        font-size: 0.75em;
    }

    #startButton {
        font-size: 1em;
    }

    /* GAME OVER MODAL */
    .close {
        top: 5px;
        right: 15px;
    }

    /* DIDALAM GAME */
    .head-container .icon {
        top: 15px;
        left: 15px;
        gap: 7px;
    }

    .head-container img {
        width: 30px;
        outline: #0D1D23 solid 3px;
    }

    .head-container p {
        display: none;
    }

    /* CANVAS */
    .canvas-container {
        margin-top: 75px;
        width: 85%;
        padding-bottom: 8px;
        padding-right: 15px;
    }

    canvas {
        width: 100%;
    }

    .start-game-content {
        width: 90%;
        padding: 1rem;
    }

    #user-form {
        width: 100%;
    }

    #name,
    #level {
        width: 100%;
    }

}

.arrow-keys {
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

.overlap-group {
    position: relative;
}

#key-up {
    position: absolute;
    width: 132px;
    height: 92px;
    top: 0;
    left: 34px;
}

#key-left {
    position: absolute;
    width: 92px;
    height: 132px;
    top: 34px;
    left: 0;
}

#key-right {
    position: absolute;
    width: 92px;
    height: 132px;
    top: 34px;
    left: 108px;
}

#key-down {
    position: absolute;
    width: 132px;
    height: 92px;
    top: 108px;
    left: 34px;
}

#pause-key,
#play-key {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 65px;
    left: 65px;
}